<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrH8BK6Nx_IIs6VLdLMpdcwi8NG8uQSdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>63684468164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quicknote</string>
	<key>PROJECT_ID</key>
	<string>quicknote-f48a3</string>
	<key>STORAGE_BUCKET</key>
	<string>quicknote-f48a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63684468164:ios:df913f21710b1648469891</string>
</dict>
</plist>